MONGO_INITDB_ROOT_USERNAME=mongoadmin
MONGO_INITDB_ROOT_PASSWORD=admin123
APP_MONGO_DATABASE=whatsapp
APP_SALT_ROUND=10
JWT_SECRET_KEY=change-me
NUXT_PUBLIC_BASE_URL_API=http://localhost:3000
NUXT_PUBLIC_BASE_URL_WS=ws://localhost:3000
